@media screen and (min-height: 1050px) {
  .seat1of2 {
    left: 475px;
    top: 95px;
    
    .bet {
      top: 155px;
    }
  }
  .seat2of2 {
    top: 195px;
    left: 895px;
  
    .bet {
      top: 145px;
      left: -150px;
    }
  }


  .seat1of3 {
    left: 475px;
    top: 95px;
    
    .bet {
      top: 155px;
    }
  }
  .seat2of3 {
    top: 195px;
    left: 895px;
  
    .bet {
      top: 145px;
      left: -150px;
    }
  }
  
  .seat3of3 {
    top: 460px;
    left: 895px;
    
    .bet {
      left: -150px;
      bottom: 85px;
    }
  }

  .seat1of6 {
    left: 475px;
    top: 95px;
    
    .bet {
      top: 155px;
    }
  }
  .seat2of6 {
    top: 195px;
    left: 895px;
  
    .bet {
      top: 145px;
      left: -150px;
    }
  }
  .seat3of6 {
    top: 460px;
    left: 895px;
    
    .bet {
      left: -150px;
      bottom: 85px;
    }
  }
  .seat4of6 {
    top: 560px;
    left: 475px;
    
    .bet {
      bottom: 130px;
    }
  }
  .seat5of6 {
    top: 460px;
    left: 55px;
    
    .bet {
      right: -150px;
      bottom: 85px;
    }
  }
  .seat6of6 {
    top: 195px;
    left: 55px;
    
    .bet {
      top: 145px;
      right: -150px;
    }
  }
}
@media screen and (max-height: 1049px) {
  .seat1of2 {
    left: 475px;
    top: 25px;
    
    .bet {
      top: 170px;
    }
  }
  .seat2of2 {
    top: 125px;
    left: 895px;
   
    .bet {
      top: 160px;
      left: -150px;
    }
  }

  .seat1of3 {
    left: 475px;
    top: 25px;
    
    .bet {
      top: 170px;
    }
  }
  .seat2of3 {
    top: 125px;
    left: 895px;
   
    .bet {
      top: 160px;
      left: -150px;
    }
  }
  .seat3of3 {
    top: 390px;
    left: 895px;
    
    .bet {
      left: -150px;
      bottom: 110px;
    }
  }
///----- 6 
  .seat1of6 {
    left: 475px;
    top: 25px;
    
    .bet {
      top: 170px;
    }
  }
  .seat2of6 {
    top: 125px;
    left: 895px;
   
    .bet {
      top: 160px;
      left: -150px;
    }
  }
  .seat3of6 {
    top: 390px;
    left: 895px;
    
    .bet {
      left: -150px;
      bottom: 110px;
    }
  }
  .seat4of6 {
    top: 490px;
    left: 475px;
    
    .bet {
      bottom: 150px;
    }
  }
  .seat5of6 {
    top: 390px;
    left: 55px;
    
    .bet {
      right: -150px;
      bottom: 110px;
    }
  }
  .seat6of6 {
    top: 125px;
    left: 55px;
    
    .bet {
      top: 160px;
      right: -150px;
    }
  }
// ----- 9 

  .seat1of9 {
    left: 695px;
    top: 25px;
    
    .bet {
      top: 170px;
    }
  }
  .seat2of9 {
    top: 125px;
    left: 895px;
   
    .bet {
      top: 160px;
      left: -150px;
    }
  }
  .seat3of9 {
    top: 330px;
    left: 960px;
    
    .bet {
      left: -190px;
      bottom: 50px;
    }
  }
  .seat4of9 {
    top: 450px;
    left: 670px;
    
    .bet {
      bottom: 90px;
      left: -130px;
    }
  }
  .seat5of9 {
    top: 450px;
    left: 325px;
    
    .bet {
      right: -110px;
      bottom: 90px;
    }
  }
  .seat6of9 {
    top: 135px;
    left: 15px;
        
    .bet {
      top: 160px;
      right: -150px;
    }
  }

  .seat7of9 {
    top: 25px;
    left: 415px;

    .bet {
      top: 170px;
      right: -50px;
    }
  }

  .seat8of9 {
    top: 25px;
    left: 190px;
    
    .bet {
      top: 160px;
      right: -25px;
    }
  }

  .seat9of9 {
    top: 330px;
    left: 25px;
    
    .bet {
      top: 100px;
      right: -160px;
    }
  }

}
.seat-container {
  color: #fff;
  width: 180px;
  height: 150px;
  position: absolute;
  text-align: center;
  z-index: 5;
  transition: 0.2s all;
}
.bet {
  position: absolute;
  width: 100%;
}
.seat-info {
  position: absolute;
  width: 100%;
  bottom: 5px;
}
.seat-number {
  padding: 4px 0px;
  display: inline-block;
  width: 20%;
  border-radius: 0 0 0 4px;
}
.seat-player {
  position: relative;
  display: inline-block;
  padding: 4px 0px;
  width: 80%;
  border-radius: 0 0 4px 0;
}
.seat-container.active .seat-info .seat-player {
  color: #ffeb3b;
}
.seat-stack {
  font-size: 24px;
  padding: 8px 0px;
  border-radius: 4px 4px 0 0;
}
.button-chip {
  color: #fff;
  position: absolute;
  right: 5px;
  top: -42px;
  font-size: 10px;
}